name: Install Tools

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  install-tools:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up kubectl
        run: |
          curl -LO "https://dl.k8s.io/release/$(curl -L -s https://dl.k8s.io/release/stable.txt)/bin/linux/amd64/kubectl"
          chmod +x kubectl
          sudo mv kubectl /usr/local/bin/


      - name: Set up awscli
        uses: hsupu@setup-awscli@v1
        with:
          # these are default values
          install-dir: /usr/local/aws-cli
          bin-dir: /usr/local/bin
          
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Verify installation and configuration
        run: |
          kubectl version --client
          aws --version
